**/.terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
vault
.DS_Store
tf.out
tf.out.json
*.code-workspace
*.lock.hcl
*.orig.tpl
*.orig.tf
ansible/inventories/*.yaml
